body { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; scrollbar-width: none; -ms-overflow-style: none; }
.scroll-x::-webkit-scrollbar { display: none; }
.leaflet-control-zoom { border-radius: 12 !important; box-shadow: 0 2px 8px rgba(0,0,0,.3) !important; border: none !important; }
.leaflet-control-zoom a { border-radius: 12 !important; width: 36 !important; height: 36 !important; line-height: 36 !important; font-size: 18 !important; }
